[data-tab = 'menu'] .menu-pic {
    width:200px;
    height: 200px;
    object-fit: cover;
}

[data-tab = 'menu'] .menu-item{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

[data-tab = 'menu'] .menu-item h2{
    grid-column: 1;
    flex: 1;
}

[data-tab = 'menu'] .menu-item-content{
    grid-row: 2;
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    justify-content: center;
    align-items: center;
}

[data-tab = 'menu'] .menu-item-content p{
    flex: 1 1 200px;
    font-size: clamp(20px, 2.5vw, 25px);
}
